p{
    color:red;
}

.purple{
    color: purple;
}
#blue{
    color: blue;
}

div{
    border-style: dashed;
    border-color: red;
    padding: 30px;
    margin: 30px;

}
#first_div{
    position: relative;
    top: 60px;
}
h1{
    text-shadow:1px 1px 2px black;
}